[user]
	name = Deepak Jois
	email = deepak.jois@gmail.com
[color]
	status = auto
	diff = auto
	branch = auto
[merge]
	tool = opendiff
[core]
  whitespace = trailing-space,space-before-tab,indent-with-non-tab,cr-at-eol
	editor = mate -w
	excludesfile = /Users/deepak/.gitignore
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	co = checkout
	br = branch
	ci = commit
	st = status
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	g = grep --break --heading --line-number
	change = codereview change
	gofmt = codereview gofmt
	mail = codereview mail
	pending = codereview pending
	submit = codereview submit
	sync = codereview sync
[github]
	user = deepakjois
[rebase]
	autostash = true
[push]
	default = current
[grep]
	extendRegexp = true
	lineNumber = true
[credential]
	helper = osxkeychain
	UseHttpPath = true
[ghi]
	token = !security find-internet-password -a deepakjois -s github.com -l 'ghi token' -w
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[http]
	cookiefile = /Users/deepak/.gitcookies
